page-payment-method {
  .payment-card-thumbnail{
    height: 40px !important;
    min-height: 40px !important;
    width: 56px !important;
    border-radius: 5px;
  }

  .margin-bottom-none{
    margin-bottom: 0;
  }
}
