<ion-header>

  <ion-navbar color="primary">
    <ion-title>Orders</ion-title>
      <ion-buttons end>
          <button ion-button clear color="secondary" (click)="goToSelectGiftCard()">Apply Gift</button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="primary-light-bg">
    <ion-item no-lines margin-vertical class="primary-dark-bg card-view" *ngFor="let order of Orders">
        <ion-thumbnail item-start>
            <img [src]="order?.product_image ? global.SERVER_URL+'backend/web/uploads/product_image/'+order?.product_image : './assets/logo/no-image.jpg'">
        </ion-thumbnail>
        <h2 ion-text color="white">{{order.name}}</h2>
        <p ion-text color="white">Price: {{order.price}}</p>
        <p ion-text color="white">Quantity: {{order.quantity}}</p>
        <p class="white text-xl pull-right">{{order.quantity*order.price}}</p>
    </ion-item>

    <ion-fab *ngIf="Orders.length > 0" bottom right>
        <button ion-button round large class="no-decoration secondary" (click)="placeOrder()">Place Order</button>
    </ion-fab>
</ion-content>
