<ion-list>
    <ion-item>
        <ion-thumbnail item-left>
            <img src="img/women-image1.png">
        </ion-thumbnail>
        <h2>Cothing</h2>
    </ion-item>
    <ion-item>
        <ion-thumbnail item-left>
            <img src="img/women-image1.png">
        </ion-thumbnail>
        <h2>Watches</h2>
    </ion-item>
    <ion-item>
        <ion-thumbnail item-left>
            <img src="/img/women-image1.png">
        </ion-thumbnail>
        <h2>Footwear</h2>
    </ion-item>
</ion-list>