page-home {

  .custom-slide{
    height: 200px;
  }

  .custom-banner{
    height: 200px !important;
    width: 100%;
  }

  .no-navbar>.toolbar-background{
    border: none;
    background: none;
  }

  .no-margin-at-top>.scroll-content,.no-margin-at-top>.fixed-content{
    margin-top: 0 !important;
  }
}
