<!--<div class="prod-img-container">-->
    <!--<img class="product-img" src="./assets/banner/menu-item/{{img}}">-->
<!--</div>-->
<ion-list class="margin-bottom-73">
    <div padding class="white-bg">
        <ion-label no-margin class="text-content" [attr.text-wrap]="viewMore ? '' : null">
            {{item.product_description}}
        </ion-label>
        <button no-padding ion-button small clear (click)="viewMoreOrLess()" color="secondary" class="strong no-decoration">{{viewText}}</button>
    </div>

    <ion-item *ngIf="item?.quantity<=0" padding-horizontal class="white-bg">
        <ion-label text-center>
            This item is currently unavailable
        </ion-label>
    </ion-item>

    <ion-item padding-horizontal class="white-bg">
        <ion-label>
            Price
        </ion-label>
        <span item-right class="text-xl">
            {{currency}}{{item?.sales_price}}
        </span>
    </ion-item>

    <ion-item padding-horizontal class="white-bg">
        <ion-label>
            Quantity
        </ion-label>
        <span item-right float-end class="text-xl">
            <ion-icon class="secondary" name="add-circle" (click)="addQuantity(quantity)"></ion-icon>
            <span padding-vertical>{{quantity}}</span>
            <ion-icon class="secondary" name="remove-circle" (click)="removeQuantity(quantity)"></ion-icon>
        </span>
    </ion-item>
</ion-list>