
//---------------------------------------
//for app.html page
//---------------------------------------

.slide-custom-height{
  height: 150px;
}

.slide-banner-height{
  height: 156px !important;
  width: 100%;
}

.swiper-pagination-bullet{
  background: color($colors,light);
}

.highlight{
  border-left: 3px solid color($colors,light) !important;
}


//---------------------------------------
//for custom toast :: product-details
//---------------------------------------
.toast-at-bottom>.toast-wrapper.toast-bottom{
  bottom: 73px;
}


//---------------------------------------
// global css class
//---------------------------------------


body,h1,h2,button,div{
  font-family: 'Raleway', sans-serif !important;
}
.list-ios > .item-block:first-child{
  border-top:none;
}

a{
  text-decoration: none;
}

.no-line-last-child{
  .item-block:last-child{
    border-bottom: none;
    .item-inner{
      border-bottom: 0.55px solid #c8c7cc;
    }
  }
}

.primary-label-color.label{
  color: color($colors,secondary) !important;
}

.same-line{
  display: inline-flex;
}

.new-line{
  display:block;
}

.glow{
  box-shadow: 0px 0px 10px rgba(202,163,94,0.6);
}

.validation-errors{
  color: color($colors,danger);
  font-size: x-small;
}

.item-input-has-focus>.item-inner{
  border-bottom-color: color($colors,light) !important;
}

.sentence-case>.item-inner>.input-wrapper>.label{
  text-transform: lowercase;

  &:first-letter {
    text-transform: capitalize;
  }
}

.no-navbar>.toolbar-background{
  border: none;
  background: none;
}

.payment-card-thumbnail{
  height: 40px !important;
  min-height: 40px !important;
  width: 56px !important;
  border-radius: 5px;
}

.card-view{
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.border-outside-light{
  border:1px solid color($colors,primary-light);
}

.border-left{
  border-left: 1px solid color($colors,light);
}

.border-right{
  border-right: 1px solid color($colors,light);
}
.border-right{
  border-right: 1px solid color($colors,light);
}

.absolute{
  position: absolute;
}

.inline{
  display: inline-block;
}

//-------------------------------------
//header section
//------------------------------------
.title-light>.toolbar-title{
  @extend .light;
}



//------------------------------------
//page-container
//------------------------------------
.align-items-center{
  align-items: center;
}



//---------------------------------------
//global margin & padding
//---------------------------------------
.padding-8{
  padding: 8px;
}

.padding-horizontal-9{
  padding: 0 9px;
}

.padding-left-none{
  padding-left: 0;
}

.padding-left-32{
  padding-left: 32px;
}



//---------------------------------------
//background-colors
//---------------------------------------
.transparent-bg{
  background: transparent;
}
.dark-bg{
  background: color($colors, primary-dark);
}

.light-bg{
  background: color($colors, light);
}

.white-bg{
  background: color($colors, white);
}

.primary-light-bg{
  background: color($colors, primary-light);
}

.primary-dark-bg{
  background: color($colors, primary-dark);
}

.secondary-bg{
  background: color($colors, secondary);
}

.secondary-light-bg{
  background: color($colors, secondary-light);
}

/*
------------------------------------------------
              Text CSS Properties
------------------------------------------------
text-decoration
text-color
text-size
*/

//---------------------------------------
//text-decoration
//---------------------------------------
.strong{
  font-weight: bold;
}

.no-decoration{
  text-transform: none;
}

//---------------------------------------
//text-colors
//---------------------------------------
.light{
  color: color($colors,light);
}

.secondary{
  color: color($colors,secondary);
}

.primary-light{
color: color($colors,primary-light);
}

//---------------------------------------
//text-size
//---------------------------------------

.text-sm{
  font-size: small !important;
}

.text-xs{
  font-size: x-small !important;
}

.text-lg{
  font-size: large !important;
}

.text-xl{
  font-size: x-large !important;
}

.text-xxl{
  font-size: xx-large !important;
}
