
//---------------------------------------
// global css class
//---------------------------------------

//body{
//  font-face: "Raleway" !important;
//  font-weight: 400 !important;
//}

body,h1,h2,button,div{
  font-family: 'Raleway', sans-serif !important;
}
.list-ios > .item-block:first-child{
  border-top:none;
}

.no-line-last-child.list{
  .item-block:last-child{
    border-bottom: none;
    .item-inner{
      border-bottom: 0.55px solid color($colors,light);
    }
  }
}

//---------------------------------------
//global margin & padding
//---------------------------------------
.padding-left-none{
  padding-left: 0;
}



//---------------------------------------
//for app.html page
//---------------------------------------
.border-left-3{
  border-left: 3px solid color($colors,light);
}

.slide-custom-height{
  height: 150px;
}

.slide-banner-height{
  height: 156px;
}

.swiper-pagination-bullet{
  background: color($colors,light);
}


//---------------------------------------
//background-colors
//---------------------------------------
.dark-bg{
  background: color($colors, primary-dark);
}


//---------------------------------------
//text-colors
//---------------------------------------
.light{
  color: color($colors,light);
}
