
//---------------------------------------
// global css class
//---------------------------------------

//body{
//  font-face: "Raleway" !important;
//  font-weight: 400 !important;
//}

body,h1,h2,button,div{
  font-family: 'Raleway', sans-serif !important;
}
.list-ios > .item-block:first-child{
  border-top:none;
}

a{
  text-decoration: none;
}

.no-line-last-child.list{
  .item-block:last-child{
    border-bottom: none;
    .item-inner{
      border-bottom: 0.55px solid color($colors,light);
    }
  }
}

.primary-label-color.label{
  color: color($colors,secondary) !important;
}

.same-line{
  display: inline-flex;
}

.glow{
  box-shadow: 0px 0px 10px rgba(202,163,94,0.6);
}

.validation-errors{
  color: color($colors,danger);
  font-size: x-small;
}

.item-input-has-focus>.item-inner{
  border-bottom-color: color($colors,light) !important;
}

.sentence-case{
  text-transform: lowercase;

  &:first-letter {
    text-transform: capitalize;
  }
}

//---------------------------------------
//global margin & padding
//---------------------------------------
.padding-left-none{
  padding-left: 0;
}

.padding-left-32{
  padding-left: 32px;
}


//---------------------------------------
//for app.html page
//---------------------------------------
.border-left-3{
  border-left: 3px solid color($colors,light);
}

.slide-custom-height{
  height: 150px;
}

.slide-banner-height{
  height: 156px;
}

.swiper-pagination-bullet{
  background: color($colors,light);
}


//---------------------------------------
//background-colors
//---------------------------------------
.dark-bg{
  background: color($colors, primary-dark);
}


//---------------------------------------
//text-colors
//---------------------------------------
.light{
  color: color($colors,light);
}

.secondary{
  color: color($colors,secondary);
}


//---------------------------------------
//text-size
//---------------------------------------

.text-sm{
  font-size: small;
}

.text-xs{
  font-size: x-small;
}