<!--<ion-slides no-padding class="slide-custom-height">-->
    <!--<ion-slide>-->
        <!--<img class="slide-banner-height" src="./assets/banner/side-menu/img1.jpg">-->
    <!--</ion-slide>-->
    <!--<ion-slide>-->
        <!--<img class="slide-banner-height" src="./assets/banner/side-menu/img2.jpg">-->
    <!--</ion-slide>-->
    <!--<ion-slide>-->
        <!--<img class="slide-banner-height" src="./assets/banner/side-menu/img3.jpg">-->
    <!--</ion-slide>-->
<!--</ion-slides>-->
<div no-padding class="slide-custom-height">
    <img class="slide-banner-height" src="./assets/banner/side-menu/img4.jpg">
</div>