
<div text-center>
    <span class="secondary same-line text-xxl">{{reward}}</span>
    <span text-center class="inline">
    <round-progress class="reward-progress" [radius]="16" [stroke]="2" [duration]="2000" [current]="reward" [max]="max"></round-progress>
    <ion-icon class="secondary padding-horizontal-10" name="heart"></ion-icon>
    </span>
</div>
<!--<div class="sub-tab-container">-->
<!--<ion-grid class="align-items-center">-->
    <!--<ion-row>-->
        <!--<ion-col padding ion-button clear col-auto class="text-xs secondary" (click)="selectTab('messages')">-->
            <!--MESSAGES-->
            <!--<span margin-bottom item-end color="secondary" *ngIf="hasUnreadMessage">&#9679;</span>-->
        <!--</ion-col>-->
        <!--<ion-col padding ion-button clear col-auto class="text-xs secondary">HISTORY</ion-col>-->
        <!--<ion-col padding ion-button clear col-auto class="text-xs secondary" (click)="selectTab('settings')">SETTINGS</ion-col>-->
    <!--</ion-row>-->
<!--</ion-grid>-->
<!--</div>-->