app-rewards {
  .reward-progress{
    //width: 25px !important;
    //height: 25px !important;
    margin-top: -9px;
    display: inline-block;
    position: absolute;
    path{
      stroke: color($colors,secondary) !important;
    }
  }

}
