<p no-margin padding class="strong text-sm secondary">
    Add a Gift Card to apply {{'MERCHANT_STORE_NAME'}} Rewards.
</p>

<ion-list class="no-line-last-child">
    <ion-item padding-top padding-right>
        <ion-input placeholder="Reference Email ID"></ion-input>
    </ion-item>
    <ion-item padding-bottom padding-right>
        <ion-input placeholder="Reference Key"></ion-input>
    </ion-item>
</ion-list>

<h2 text-center class="strong secondary">Or</h2>

<div text-center>
    <button ion-button class="" color="secondary" (click)="presentNewGiftPage()">GET A GIFT CARD</button>
</div>
