<ion-grid class="container1">
    <ion-item-divider color="light" class="text-xl">
        Drinks
        <button ion-button item-end clear color="secondary">See All</button>
    </ion-item-divider>
    <ion-scroll no-padding scrollX="true">
        <ion-row style="width:450px">
            <ion-col class="light-bg">
                <ion-card no-margin class="menu-item-card light-bg" (click)="presentProductDetails()">
                    <div class="circular-menu-item primary-light-bg">
                        <img src="./assets/banner/menu-item/food1.png"/>
                    </div>
                    <ion-card-content no-padding>
                        <ion-card-title text-center class="text-sm">
                            Nine Inch Nails Live
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="light-bg">
                <ion-card no-margin class="menu-item-card light-bg">
                    <div class="circular-menu-item primary-light-bg">
                    <img src="./assets/banner/menu-item/food2.png"/>
                    </div>
                    <ion-card-content no-padding>
                        <ion-card-title text-center class="text-sm">
                            Nine Inch Nails Live
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="light-bg">
                <ion-card no-margin class="menu-item-card light-bg">
                    <div class="circular-menu-item primary-light-bg">
                    <img src="./assets/banner/menu-item/food3.png"/>
                    </div>
                    <ion-card-content no-padding>
                        <ion-card-title text-center class="text-sm">
                            Nine Inch Nails Live
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-scroll>
</ion-grid>

<ion-grid class="container2">
    <ion-item-divider color="light" class="text-xl">
        Drinks
        <button ion-button item-end clear color="secondary">See All</button>
    </ion-item-divider>
    <ion-scroll no-padding scrollX="true">
        <ion-row style="width:450px">
            <ion-col class="light-bg">
                <ion-card no-margin class="menu-item-card light-bg">
                    <div class="circular-menu-item primary-light-bg">
                        <img src="./assets/banner/menu-item/food1.png"/>
                    </div>
                    <ion-card-content no-padding>
                        <ion-card-title text-center class="text-sm">
                            Nine Inch Nails Live
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="light-bg">
                <ion-card no-margin class="menu-item-card light-bg">
                    <div class="circular-menu-item primary-light-bg">
                        <img src="./assets/banner/menu-item/food2.png"/>
                    </div>
                    <ion-card-content no-padding>
                        <ion-card-title text-center class="text-sm">
                            Nine Inch Nails Live
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="light-bg">
                <ion-card no-margin class="menu-item-card light-bg">
                    <div class="circular-menu-item primary-light-bg">
                        <img src="./assets/banner/menu-item/food3.png"/>
                    </div>
                    <ion-card-content no-padding>
                        <ion-card-title text-center class="text-sm">
                            Nine Inch Nails Live
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-scroll>
</ion-grid>