app-menu-item {
  .container1{
    margin-top: 0;
  }

  .container2{
    margin-top: 170px;
  }

  .category-item-scroller>.scroll-content{
    margin-top: 0;
    height: 160px;
    padding: 0 !important;
    position: static;
    background: color($colors,white);
  }

  .menu-item-width{
    overflow: auto;
    display: inline-flex;
  }

  .circular-menu-item {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px auto 0;
  }

  .circular-menu-item img {
    width: 80px;
    margin-top: 10%;
    height: 80px;
    margin-left: 10%;
  }

  .menu-item-card{
    width: 144px;
    box-shadow: none;
  }
}
