<form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
    <ion-list class="no-line-last-child">
        <ion-item class="dark-bg">
            <ion-label floating color="primary" class="primary-label-color">First Name</ion-label>
            <ion-input type="text" formControlName="first_name" class="light" required></ion-input>
        </ion-item>
        <div padding-horizontal class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.first_name">
                <div class="error-message"
                     *ngIf="registrationForm.get('first_name').hasError(validation.type) && (registrationForm.get('first_name').dirty || registrationForm.get('first_name').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item class="dark-bg">
            <ion-label floating color="primary" class="primary-label-color">Last Name</ion-label>
            <ion-input type="text" formControlName="last_name" class="light" required></ion-input>
        </ion-item>
        <div padding-horizontal class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.lastname">
                <div class="error-message"
                     *ngIf="registrationForm.get('last_name').hasError(validation.type) && (registrationForm.get('last_name').dirty || registrationForm.get('last_name').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item class="dark-bg">
            <ion-label floating color="primary" class="primary-label-color">Email</ion-label>
            <ion-input type="text" formControlName="email" class="light"></ion-input>
        </ion-item>
        <div padding-horizontal class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
                <div class="error-message"
                     *ngIf="registrationForm.get('email').hasError(validation.type) && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>


        <div formGroupName="matching_passwords">
            <ion-item class="dark-bg">
                <ion-label floating color="primary" class="primary-label-color">Password</ion-label>
                <ion-input type="password" formControlName="password" class="light"></ion-input>
            </ion-item>
            <div padding-horizontal class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.password">
                    <div class="error-message"
                         *ngIf="registrationForm.get('matching_passwords').get('password').hasError(validation.type) && (registrationForm.get('matching_passwords').get('password').dirty || registrationForm.get('matching_passwords').get('password').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item class="dark-bg">
                <ion-label floating color="primary" class="primary-label-color">Confirm Password</ion-label>
                <ion-input type="password" formControlName="confirm_password" class="light"></ion-input>
            </ion-item>
            <div padding-horizontal class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.confirm_password">
                    <div class="error-message"
                         *ngIf="registrationForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (registrationForm.get('matching_passwords').get('confirm_password').dirty || registrationForm.get('matching_passwords').get('confirm_password').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- These validations are for the form group -->
        <div padding-horizontal class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.matching_passwords">
                <div class="error-message"
                     *ngIf="registrationForm.get('matching_passwords').hasError(validation.type) && (registrationForm.get('matching_passwords').get('confirm_password').dirty || registrationForm.get('matching_passwords').get('confirm_password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>


        <ion-item class="dark-bg">
            <ion-label floating color="primary" class="primary-label-color">Phone</ion-label>
            <ion-input type="text" formControlName="phone" class="light"></ion-input>
        </ion-item>
        <div padding-horizontal class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.phone">
                <div class="error-message"
                     *ngIf="registrationForm.get('phone').hasError(validation.type) && (registrationForm.get('phone').dirty || registrationForm.get('phone').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>


        <ion-item class="dark-bg" no-lines>
            <ion-label color="primary" class="primary-label-color">I accept terms and conditions</ion-label>
            <ion-checkbox formControlName="terms" class="light"></ion-checkbox>
        </ion-item>
        <div padding-horizontal class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.terms">
                <div class="error-message"
                     *ngIf="registrationForm.get('terms').hasError(validation.type) && (registrationForm.get('terms').dirty || registrationForm.get('terms').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </ion-list>
    <div text-center>
        <button ion-button color="secondary" outline type="submit" [disabled]="!registrationForm.valid">SIGN UP</button>
    </div>
</form>