<ion-header [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
    <div class="primary-dark-bg product-header-container">
        <ion-buttons left *ngIf="hideheader">
            <button color="white" class="absolute" ion-button clear icon-only (click)="onDismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <div text-center>
            <img class="product-header-img" alt="No Image" src="{{productDetails?.image_path}}/{{productDetails?.image_name}}">
        </div>

        <ion-navbar padding-horizontal class="no-navbar light text-lg strong product-title">
            <ion-buttons left *ngIf="showheader">
                <button color="white" ion-button clear icon-only (click)="onDismiss()">
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-buttons>
            {{productDetails.name}}
        </ion-navbar>
    </div>
</ion-header>


<!--<ion-content padding fullscreen #mycontent>-->
<ion-content class="primary-light-bg">
    <ion-fab bottom right>
        <button ion-button round large class="no-decoration secondary" (click)="addToCart(orderItem)">Add Item</button>
    </ion-fab>
    <app-product-details [product]="productDetails" (changeQuantity)="quantityOnChange($event)"></app-product-details>
</ion-content>


<ion-footer class="primary-dark-bg">
    <ion-item no-lines class="light transparent-bg">
        <div>
            <span class="strong new-line">Select Store</span>
            <button no-padding no-margin ion-button color="secondary" class="no-decoration" clear>
                {{storeName}}
                <ion-icon padding-left name="ios-arrow-down"></ion-icon>
            </button>
        </div>

        <button color="white" ion-button item-right clear large icon-only>
            <ion-icon no-padding name="md-clipboard"></ion-icon>
            <ion-badge *ngIf="orderItem?.quantity>0" class="transparent-bg secondary absolute">{{orderItem?.quantity}}</ion-badge>
        </button>
    </ion-item>
</ion-footer>