page-stores {
  ._gmaps_cdv_ .scroll-content, ._gmaps_cdv_ .fixed-content, .content-md>.scroll-content, .content-md>.fixed-content {
    margin-top: 76px !important;
  }
  .content-ios.scroll-content, .content-ios.fixed-content {
    margin-top: 62px !important;
  }
  #map {
    height: 75%;
  }

  .default-store{
    height: 25%;
  }
}
