<ion-item no-lines margin-top (click)="presentArtwork()">
    <ion-label>
        Artwork
    </ion-label>
    <ion-thumbnail item-end>
        <img class="artwork-thumbnail" [src]="selectedArtwork ? selectedArtwork?.image_path+'/'+selectedArtwork?.image_name : './assets/logo/no-image.jpg'">
    </ion-thumbnail>
    <ion-icon item-right color="primary-light" name="ios-arrow-forward-outline"></ion-icon>
</ion-item>

<ion-item margin-vertical no-lines (click)="presentAddRecipient()">
    <ion-label class="text-sm" text-wrap>
        Add Recipient & Message
    </ion-label>
    <ion-label>{{recipient}}</ion-label>
    <ion-icon item-right color="primary-light" name="ios-arrow-forward-outline"></ion-icon>
</ion-item>

<ion-list no-margin>
    <ion-item no-lines>
        <ion-label>Amount</ion-label>
        <button *ngIf="!isGoingToSelectAmount" ion-button item-right clear color="secondary" (click)="selectAmount()">
            Select
        </button>
        <ion-badge *ngIf="isGoingToSelectAmount" item-end color="primary">{{amount}}</ion-badge>
    </ion-item>
    <ion-item no-lines *ngIf="isGoingToSelectAmount">
        <ion-range min="5" max="100" pin="true" step="5" snaps="true" [(ngModel)]="amount" color="secondary">
            <ion-label range-left>5</ion-label>
            <ion-label range-right>100</ion-label>
        </ion-range>
    </ion-item>
</ion-list>
<ion-item no-lines>
    <ion-label>Payment Method</ion-label>
    <button ion-button item-right clear color="secondary" (click)="presentPaymentMethod()">Select</button>
</ion-item>