<ion-list>
    <ion-list-header class="settings-header">
        Account
    </ion-list-header>

    <a ion-item detail-none>
        <ion-icon name="ios-contact" item-start></ion-icon>
        <ion-label>Contact Information</ion-label>
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </a>

    <a ion-item detail-none (click)="goToCardDetails()">
        <ion-icon name="ios-card" item-start></ion-icon>
        <ion-label>Payments Methods</ion-label>
        <ion-note item-end>Debit Card</ion-note>
    </a>
</ion-list>

<ion-list>
    <ion-list-header class="settings-header">
        Preference
    </ion-list-header>

    <ion-item>
        <ion-icon name="notifications" item-start></ion-icon>
        <ion-label>Message Notifications</ion-label>
        <ion-toggle color="secondary" [(ngModel)]="isNotificationEnabled" (ionChange)="changeNotification()"></ion-toggle>
    </ion-item>
</ion-list>

<ion-list>
    <ion-list-header class="settings-header">
        Security
    </ion-list-header>

    <ion-item>
        <ion-icon name="lock" item-start></ion-icon>
        <ion-label>Passcode Lock</ion-label>
        <ion-toggle color="secondary"></ion-toggle>
    </ion-item>
    <a ion-item detail-none>
        <ion-icon name="key" item-start></ion-icon>
        <ion-label>Change Password</ion-label>
        <ion-note item-end>Change</ion-note>
    </a>
</ion-list>

<ion-list>
    <ion-list-header class="settings-header">
        About
    </ion-list-header>

    <button ion-item>
        <ion-icon name="help-circle" item-start ></ion-icon>
        <ion-label>Help</ion-label>
    </button>

    <button ion-item (click)="viewTerms()">
        <ion-icon name="help-buoy" item-start></ion-icon>
        <ion-label>Terms Of Use</ion-label>
    </button>

    <button ion-item (click)="viewPolicy()">
        <ion-icon name="information-circle" item-start></ion-icon>
        <ion-label>Privacy Statement</ion-label>
    </button>
</ion-list>

<ion-list>
    <!--<ion-list-header class="settings-header">-->
        <!--Sign Out-->
    <!--</ion-list-header>-->

    <a ion-item detail-none>
        <ion-icon name="log-out" item-start></ion-icon>
        <ion-label>Sign Out</ion-label>
    </a>
</ion-list>
